:root {
  --main-color: #212121;
  --web-color: #2196f3;
  --link-color: #2196f3;
  --black: #000000;
  --inactive-link: #212121;
  --inactive-link2: #757575;
  --main: #2f303a;
  --white: #ffffff;
}

body {
  font-family: "Roboto", "sans-serif";
}
ul {
  list-style-type: none;
}
/*---------------Header-----------------------*/
.logo-link {
  text-decoration: none;
}
.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--web-color);
}
.logo-studio {
  color: var(--black);
}
/* Header Navigation */

.global-header .main-nav {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--inactive-link);
}
.global-header .main-nav a {
  text-decoration: none;
}
.current {
  color: var(--link-color);
}
.main-nav-ul a:active,
.main-nav-ul a:hover,
.main-nav-ul a:focus,
.main-nav-ul a:visited:active,
.main-nav-ul a:visited:hover,
.main-nav-ul a:visited:focus {
  color: var(--link-color);
}

.global-header-contact a[href^="mailto"],
.global-header-contact a[href^="tel"] {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--inactive-link);
}
.global-header-contact a {
  text-decoration: none;
}

.global-header-contact a:active,
.global-header-contact a:hover,
.global-header-contact a:focus,
.global-header-contact a:visited:active,
.global-header-contact a:visited:hover,
.global-header-contact a:visited:focus {
  color: var(--link-color);
}
.global-header-contact a:visited {
  color: var(--inactive-link2);
}

/*-------------------------------------Main---------------------*/
.main {
  background-color: var(--main);
}
.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
}
