:root {
  --main-color: #212121;
  --web-color: #2196f3;
  --link-color: #2196f3;
  --black: #000000;
  --inactive-link: #212121;
  --inactive-link2: #757575;
  --main-section: #2f303a;
  --white: #ffffff;
  --details-color: #757575;
  --our-team: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style-type: none;
}
/*---------------Header-----------------------*/
.logo-link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-web {
  color: var(--web-color);
}
.logo-studio {
  color: var(--black);
}
/* Header Navigation */

.global-header .main-nav a {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--inactive-link);
}
.global-header .main-nav a {
  text-decoration: none;
}
.current {
  color: var(--link-color);
}
.main-nav-ul a:active,
.main-nav-ul a:hover,
.main-nav-ul a:focus,
.main-nav-ul a:visited:active,
.main-nav-ul a:visited:hover,
.main-nav-ul a:visited:focus {
  color: var(--link-color);
}

.global-header-contact a[href^="mailto"],
.global-header-contact a[href^="tel"] {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--inactive-link2);
}
.global-header-contact a {
  text-decoration: none;
}

.global-header-contact a:active,
.global-header-contact a:hover,
.global-header-contact a:focus,
.global-header-contact a:visited:active,
.global-header-contact a:visited:hover,
.global-header-contact a:visited:focus {
  color: var(--link-color);
}
.global-header-contact a:visited {
  color: var(--inactive-link2);
}

/*-------------------------------------Main---------------------*/
.main {
  background-color: var(--main-section);
}
.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white);
}
/*-------------------------------------de lucrat---------------------*/
.main-buton {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: right;
  color: var(--white);
  background-color: var(--link-color);
  border: none;
  cursor: pointer;
}
.main-buton:hover {
  background-color: var(--link-color);
}
.main-skil {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.main-skil-details {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--details-color);
}
.main-what_we_do {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}
.main-background {
  background-color: var(--our-team);
}
.main-our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}
.main-our-team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-color);
}
.main-our-team-name-job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--details-color);
}
/* ----------------------------------- Portofolio - Main -----------------------------------*/
.button-list {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border: none;
  cursor: pointer;
}
.button-list button:hover,
.button-list button:active,
.button-list button:focus {
  color: var(--white);
  background-color: var(--link-color);
}
.main-title-images {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.main-title-images-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--details-color);
}
